.form {

}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    margin-bottom: 15px;
}

.form-input > label {
    min-width: 10%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttons > button:not(:last-child) {
    margin-right: 10px;
}
